In [4]:
import random
import datetime
print(datetime.datetime.now())

2020-09-07 16:07:29.872833

In [5]:
random_date = lambda start, end : start + datetime.timedelta(seconds=random.randint(0, int((end - start).total_seconds())))

#suffix for the date
suffix = lambda d: 'th' if d in [11,12,13] else {1:'st',2:'nd',3:'rd'}.get(d%10, 'th')

#format date as 11th, Jun, 1992
format_date = lambda date: date.strftime("%d"+suffix(date.day)+", %b, %Y")

In [6]:
random_dates = [format_date(random_date(datetime.datetime(1901, 1, 1), datetime.datetime(2020, 12, 31))) for _ in range(25)]
print(random_dates)

['19th, Dec, 1989', '13th, Jul, 1921', '11th, Aug, 1946', '22nd, Sep, 1926', '04th, Aug, 1902', '18th, Jul, 1995', '20th, Jun, 2016', '28th, Jan, 1904', '13th, Sep, 1932', '15th, Jul, 1974', '24th, Mar, 1941', '10th, Jan, 1927', '28th, Nov, 1914', '18th, Jun, 2001', '21st, Nov, 2016', '18th, Jun, 2015', '18th, Feb, 1904', '15th, Jan, 2005', '18th, Aug, 1988', '15th, Jan, 1964', '16th, Mar, 2007', '07th, Jun, 1958', '29th, Jan, 1922', '25th, Jan, 1988', '26th, Jul, 2020']